<% content_for :title, "Edit Shelter - Adopt Don't Shop" %>


  <section class="form">
    <h1>Edit <%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>

    <%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
      <%= label_tag :name %><br>
      <%= text_field_tag :name, nil, placeholder: "#{@shelter.name}" %><br><br>
      <%= label_tag :address %><br>
      <%= text_field_tag :address, nil, placeholder: "#{@shelter.address}" %><br><br>
      <%= label_tag :city %><br>
      <%= text_field_tag :city, nil, placeholder: "#{@shelter.city}" %><br><br>
      <%= label_tag :state %><br>
      <%= text_field_tag :state, nil, placeholder: "#{@shelter.state}" %><br><br>
      <%= label_tag :zip_code %><br>
      <%= text_field_tag :zip_code, nil, placeholder: "#{@shelter.zip_code}" %><br><br>
      <%= submit_tag "Update Shelter" %>
    <% end %>
  </section>
