<% content_for :title, "#{@shelter.name} - Adopt Don't Shop" %>


  <section class="show">
    <h1><%= "#{@shelter.name}" %></h1>

    <p>Address: <%= @shelter.address %></p>
    <p>City: <%= @shelter.city %></p>
    <p>State: <%= @shelter.state %></p>
    <p>Zip code: <%= @shelter.zip_code %></p><br>
    <p>Number of pets: <%= @shelter.pet_count%></p>
    <p>This shelters average rating is: <%= @shelter.average_rating %></p>
    <p>Number of applications on file: <%= @shelter.number_of_applications_on_file %></p>


    <h2><%= link_to "Available Pets", "/shelters/#{@shelter.id}/pets" %></h2>

    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %><br><br><br>

    <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
  </section><br><br><br><br>

  <section class='reviews'>
    <h1>Reviews</h1>
    <%= link_to "Add Review", "/shelters/#{@shelter.id}/reviews/new" %><br><br>
    <% @shelter.reviews.each do |review| %>
    <p>Title: <%= review.title %></p>
    <p>Rating: <%= review.rating %> stars</p>
    <p>Content: <%= review.content %></p>
    <%= link_to "Edit #{review.title}", "/reviews/#{review.id}/edit" %><br><br><br>
    <%= button_to "Delete Review", "/reviews/#{review.id}", method: :delete %>
    <% end %>
  </section>
