<% content_for :title, "All Pets - Adopt Don't Shop" %>

  <section class="index">
    <h1>Favorite Pets</h1>
    <p> You have no favorites in you list. </p> <% if @favorite_pets == {} %>
    <% else %>
      <% @pets.each do |pet| %>
        <section id=pet-<%= pet.id %>>
          <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
          <p><%= image_tag pet.image, alt: "Photo of #{pet.name}", title: "Photo of #{pet.name}" %></p>
          <%= button_to "Remove from favorites", "/favorites/#{pet.id}", method: :delete %>
        </section>
      <% end %>
    <% end %>
  </section>

  <p><%= link_to "Apply Now", "/apps/new" %>
  <p><%= button_to "Remove all favorited pets", "/favorites", method: :delete %></p>

  <section class="apps">
    <h2>Pending Applications</h2>
    <% @apps.each do |app| %>
      <% app.pets.each do |pet| %>
        <div class="app-<%= pet.id %>">
        <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        </div>
      <% end %>
    <% end %>
  </section>
