<% content_for :title, "New Pet - Adopt Don't Shop" %>

  <header>
  </header>
  <nav>
    <ul>
      <li><%= link_to "All Pets", "/pets" %></li>
      <li><%= link_to "All Shelters", "/shelters" %></li>
    </ul>
  </nav>
  <section class="form">
    <h1>Create New Pet</h1>


    <%= form_tag "/shelters/#{@shelter.id}/pets" do %>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
      <%= label_tag :age %>
      <%= text_field_tag :age %>
      <%= label_tag :sex %>
      <%= text_field_tag :sex %>
      <%= label_tag :description %>
      <%= text_field_tag :description %>
      <%= label_tag :image %>
      <%= text_field_tag :image %>
      <%= label_tag "Status" %>
      <%= text_field_tag :status, "Adoptable", :readonly => true %>
      <%= submit_tag "Create Pet" %>
    <% end %>
  </section>
