<% content_for :title, "#{@pet.name} - Adopt Don't Shop" %>


  <section class="show">
    <h1><%= "Meet #{@pet.name}!" %></h1>
    <%= image_tag @pet.image, alt: "Photo of #{@pet.name}", title: "Photo of #{@pet.name}" %>
    <p>About: <%= @pet.description %></p>
    <p>Age: <%= @pet.age %></p>
    <p>Sex: <%= @pet.sex %></p>
    <p>Adoption Status:
      <% if @pet.status %>
      Adoptable
      <% else %>
      Adoption Pending. On Hold for <%= @app.name %>
      <%  end %></p>
    <p>Shelter: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %></p><br><br>

    <%= button_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %><br><br><br>

    <%= link_to "Applications", "/pets/#{@pet.id}/apps" %><br><br>

    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br><br>

    <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
  </section>
