<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "All Pets", "/pets" %></li>
        <li><%= link_to "All Shelters", "/shelters" %></li>
        <li><%= "Favorites: #{favorite.total_count}" %></li>
      </ul>
    </nav>
    <%  flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
